<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/"> tutorialsguy</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li >
                        <a href="/home/" class="fa fa-home"> Home</a>
                    </li>

                    <li>
                        <a href="/forum/all" class="fa fa-question"> Forums</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
	<ul class='navbar-right nav navbar-nav listoptions'>
    	<li> <a href="/logout">Log Out &nbsp</a></li>
    </ul>
    {% else %}
    <ul class='navbar-right nav navbar-nav listoptions'>
        <li><a href="/login/">Log In &nbsp</a></li>
    </ul>
{% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
