{% extends 'home.html' %}
{% block body %}
        <a class="topbtn btn btn-lg" href="#page-top">
            <i class="fa fa-chevron-circle-up fa-3x"></i>
        </a>
    <div class="container">
        <div class="toptitle">
            <div class="col-lg-7">
                <h1 class="page-header fa fa-fighter-jet">Latest Posts
                    <small>Insight from our authors</small>
                </h1>
            </div>
        </div>
        {% block content %}
            {% for Post in object_list%}
        <div class="row col-md-7">
            <div class="col-md-28">
                <h3 class ="heading">{{ Post.topics_model.title }}</h3>
                <div class ="post_meta">
                    <h4><u>Title: {{ Post.title }}</u></h4>
                    <small>Date: {{ Post.date }}</small>
                </div>
                <div class = "post_body">
                    <p>{{ Post.description|safe|linebreaks }}</p>
                <a class="btn btn-primary" href ="{{ Post.url }}">View the latest Post! <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr>
            </div>
        {% endfor %}
        {% endblock %}
    </div>
{% endblock %}