
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="heading">
            <div class="col-lg-12">
                <h1 class="page-header fa fa-eye">OpenCV
                    <small>-Hrishikesh Rao</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        {% for opencv in object_list %}

         <!-- Project One -->
        <div class="row">
            <div class="col-md-8">
                <a href="#">
                    {% load embed_video_tags %}
                    {% video opencv.url as my_video %}
                    {% video my_video '700x500' %}
                    {% endvideo %}
                </a>
            </div>
            <div class="col-md-28">
                <h3><a href ="{{ opencv.url }}">{{ opencv.title }}</a></h3>
                <h4>Uploaded on {{ opencv.date|date:"d/m/20y" }}</h4>
                <p>{{ opencv.description|safe }}</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <hr><br>
        {% endfor %}
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <!---TODO: get this shit sorted.. on second page, the second bar should highlight--->
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="/opencv/2">2</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}